apiVersion: v1
kind: ConfigMap
metadata:
  name: gateway-config
data:
  application.yaml: |
    spring:
      application:
        name: Gateway
      cloud:
        gateway:
          routes: []
    server:
      port: 8080
